/*-- scss:defaults --*/

// Fonts
$font-family-sans-serif:     "Parkinsans", sans-serif;
$headings-font-family:     "Parkinsans", sans-serif;
$web-font-path:              "No";

// Colors
$vert_accueillant: #78c2ad;
$rose_accueillant: #f3969a;

/*-- scss:rules --*/
@font-face{
  font-family: 'Parkinsans';
  src: url('./fonts/parkinsans-v1-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Parkinsans';
  src: url('./fonts/parkinsans-v1-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.pink {
    color: $rose_accueillant;
    font-size: 1.25rem;
    margin-right: 5px;
}

.ref {
  font-weight: 600;
}

.vert {
  color: $vert_accueillant;
}

.caption{
   text-align: center;
}

h1 {
  color: $vert_accueillant;
}

h2 {
  color: $rose_accueillant;
}
